{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="card shadow m-3 col-md-6 mx-auto">
    <div class="card-body">
        <h3 class="text-center mb-4">
            {% if object %}Edição de Veículo{% else %}Cadastro de Veículo{% endif %}
        </h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="text-end mt-3">
                {% bootstrap_button content="Salvar" button_type="submit" %}
                <a href="{% url 'veiculo' %}" class="btn btn-secondary text-white">Cancelar</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
