{% extends 'principal.html' %}
{% load django_bootstrap5 %}
{% block content %}
<div class="card shadow m-3 col-md-6 mx-auto">
    <div class="card-body">
        <h3 class="text-center mb-4">
            {% if form.instance.pk %}
                Editar Funcionário
            {% else %}
                Cadastro de Funcionário
            {% endif %}
        </h3>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="text-end">
                {% bootstrap_button content="Salvar" button_type="submit" %}
                <a href="{% url 'funcionarios' %}" class="btn btn-secondary text-white">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
